*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: large;
    font-family: sans-serif ;
    font-weight: bold;
}

h2{
    font: bold small arial;
}
h3{
    font: lighter 9px verdana;
}
time{
    font: bold 10px arial;
    color: grey;
}

header, section, footer, aside, nav, article{ 
    display: block;
}
body{
    text-align: center;
}

.agrupar{
    border: 1px solid purple;
    width: 960px;
    margin: 15px auto;
    background: #fcc790;
    
}

.header{
    background: #b4a7d6;
    border: 1px solid #f4b4b4;
    padding: 20px;
}
.header h1{
    text-align: left;
}

.menu{
    background:#f4b4b4;
    padding: 15px 5px;
    text-align: left;
}

.menu li{
    list-style: none;
    padding: 5px;   
    font: bold 14px verdana;
    display: inline-block;
}

.seccion{
    margin: 20px;
    width: 600px;
    
    float: left;
    
}

.columna{
    width: 300px;
    
    float: left;
    
    margin: 20px 0;
    
}

.columna blockquote{
    border: 1px solid black;
    padding: 40px;
    background: #b4a7d6;
    margin-bottom: 20px;
}

.pie{
    clear: both;
    padding: 20px;
    background:#f4b4b4;
    color: 	#b4a7d6;
    
}

article{
    background: #c7c7c7;
    border: 1px solid palevioletred;
    padding: 20px;
    margin-bottom: 15px;
}

article footer{
    text-align: right;
    margin-top: 20px;
}
img{
    width: 200px;
    display: block;
    margin: 20px auto;
}